
#dbtn:hover {
    background-color: rgb(123, 176, 123)!important;
}
#dbtn{
    color:black !important;
}
#social{
    border: 0px solid blue !important;
}
#projects {
    background-color: grey;
    color: black !important;
}

.bg {
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwallpapercrafter.com%2F94837-programming-computer-typography-hd-4k.html&psig=AOvVaw1x5SGw1dHaHKZuritCkzXQ&ust=1702293455130000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCLiS5brfhIMDFQAAAAAdAAAAABAg");
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-size: 100px;
    display: inline-block;
    text-align: center;
}

.material-symbols-outlined:hover {
    background-color: red;
}

body {
    background-color: black;
    animation-name: delay;
    animation-duration: 3s;

}

img {
    position: relative;
    float: right;
    top: 50px;
    border: 2px solid gray(221, 68, 68);
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px gray;
    animation-name: siva;
    animation-duration: 1s;
    animation-timing-function: ease;
    opacity: 1;
    right: 20px;
}

img:hover {
    box-shadow: 0px 0px 20px red;
}


.nav {
    position: relative;
    float: left;
    top: 50px;
    border-radius: 10px;
    animation-name: siva;
    animation-duration: 2s;
    animation-timing-function: ease;
    position: relative;
}

a {
    margin: 5px !important;
    border: 2px solid grey !important;
    color: grey !important;
    text-decoration: none !important;
}

a {
    text-decoration: none !important;
    color: grey !important;
}

a:hover {
    text-decoration: none !important;
    color: black !important;
}

.ss {
    top: 150px;
    animation-name: siva;
    animation-duration: 3s;
    animation-timing-function: ease;
    position: relative;
}

.s {
    animation-name: s;
    animation-duration: 3s;
    animation-timing-function: ease;
    position: relative;
}

.card {
    background-color: black;
    border: 2px solid grey;
    animation-name: cardd;
    animation-duration: 2s;
    position: relative;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}



#skill {
    background-color: black;
    border: 2px solid grey;
    animation-name: cardd;
    animation-duration: 2s;
    position: relative;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes siva {
    0% {
        top: 1px;
    }

    100% {}
}

@keyframes s {
    0% {
        top: 1px;
        opacity: 0.1
    }

    100% {
        top: 1px;
        opacity: 1;
    }
}

@keyframes cardd {
    0% {
        top: 5px;
    }

    100% {
        top: 9px;
    }
}

@keyframes skill {
    0% {
        top: 5px;
    }

    100% {
        top: 9px;
    }
}
